@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Licorice&family=Source+Sans+Pro:wght@600&display=swap');
/* Color Theme Swatches in RGBA */
:root {
    --c1: rgba(179, 134, 168, 1);
    --c2: rgba(115, 86, 108, 1);
    --c3: rgba(242, 181, 228, 1);
    --c4: rgba(255, 191, 240, 1);
    --c5: rgba(217, 163, 204, 1);
    --c6: rgba(255, 251, 238, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: var(--c5);
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    background-color: var(--c6);
    height: 75px;
    display: flex;
    align-items: center;
}

#logo {
    font-family: 'Licorice', cursive;
    font-weight: bold;
    font-size: 3em;
    margin: 0 calc(90px - 64.47px - 10px) 0px 15px;
    color: var(--c2);
}

.menu-item {
    text-decoration: none;
    color: var(--c1);
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 15px;
    height: 75px;
    width: max-content;
    display: flex;
    align-items: center;
}

.menu-item:nth-child(1) {
    margin-left: 90px;
}

.menu-item:hover {
    background-color: var(--c1);
    color: var(--c6);
}

.simbolo {
    font-size: 1.2em;
}

.menu-item #novo {
    font-size: 0.6em;
    background-color: var(--c6);
    border: 1px solid black;
    color: black;
    border-radius: 25px;
    padding: 3px 10px;
    margin-left: 5px;
}

.menu-item:hover #novo {
    background-color: var(--c6);
    color: black;
}

.nav-menus {
    position: relative;
    background-color: var(--c1);
    height: 840px;
    display: none;
}

#fechar {
    position: absolute;
    font-size: 3em;
    right: 0;
    padding: 15px 30px;
    color: var(--c6);
}

#fechar:hover {
    background-color: var(--c6);
    color: var(--c2);
}

.nav-menus-item {
    padding: 50px 0 0 0;
    margin: 0 425px 0 420px;
}

#tutoriais, #referencias, #exercicios {
    display: none;
}

.tecnologias {
    margin-top: calc(35px / 2);
    display: flex;
    justify-content: space-between;
}

.tecnologias div nav {
    display: flex;
    flex-direction: column;
    margin-top: calc(35px / 2);
}

.tecnologias div nav h2 {
    margin-bottom: calc(35px / 2);
}

.tecnologias div nav a {
    color: var(--c6);
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 6px;
    font-size: 1.2em;
}