/* Parte do menu de navegação */

.nav-menu {
  position: absolute;
  top: 75px;
  width: 100%;
  background-color: var(--c1);
  height: 840px;
  display: none;
}

#fechar {
  position: absolute;
  font-size: 3em;
  right: 0;
  padding: 15px 30px;
  color: var(--c6);
}

#fechar:hover {
  background-color: var(--c6);
  color: var(--c2);
}

.nav-menu-item {
  max-width: 1100px;
  margin: 0 auto 0 auto;
  padding: 40px 8px 0;
}

.nav-menu-item h1 {
  font-size: 32px;
  padding: 0.01em 16px;
  line-height: 1.5;
  font-weight: 400;
}

#tutoriais, #referencias, #exercicios {
  display: none;
}

.tecnologias {
  display: flex;
  justify-content: left;
}

#parte-cima, #parte-baixo {
  display: flex;
  width: 50%;
}

.tecnologias-item {
  padding: 0 8px;
  width: 50%;
}

.tecnologias-item nav {
  display: flex;
  flex-direction: column;
  margin-top: calc(35px / 2);
}

.tecnologias-item nav h2 {
  padding-left: 6px;
  margin: 26px 0;
  margin: 0 0 calc(35px / 2) 0;
  font-size: 24px;
}

.links {
  color: var(--c6);
  font-family: 'Source Sans Pro', sans-serif;
  padding: 4px 0 4px 6px;
  font-size: 18px;
}

.links:hover {
  background-color: var(--c7);
  color: var(--c2);
}

/* Parte dos Exercícios */

.botao-exercicios {
  margin: 0 0 0;
  font-size: 24px;
  font-weight: 400;
  
  width: 155px;
  font-size: 21px;
  padding: 2px 0 2px 6px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  
  background-color: black;
  color: var(--c1);
}

.botao-exercicios:hover {
  background-color: var(--c6);
  color: black;
}

@media screen and (max-width: 902px) { /* Parte dos Tutoriais */
  #tutoriais .tecnologias {
    display: block;
  }
  
  #tutoriais #parte-cima, #tutoriais #parte-baixo {
    width: 100%;
  }
  /* Isto está no JS
  .nav-menu {
    height: calc(720px * 2);
  }*/
  
  #tutoriais #parte-cima {
    position: relative;
  }
  
  #tutoriais #parte-baixo {
    position: absolute;
    top: 527px;
    width: 98.4%;
  }
  
  .tecnologias-item.server-side-tutoriais {
    z-index: 7;
  }
  
  .tecnologias-item.analise-dados-tutoriais {
    margin-top: 159.5px;
  }
  
  .tecnologias-item.javascript-tutoriais {
    z-index: 7;
  }
}

@media screen and (max-width: 1096px) { /* Parte das Referências */
  #referencias .tecnologias {
    display: block;
  }
  
  #referencias #parte-cima, #referencias #parte-baixo {
    width: 100%;
  }
  /* Isto está no JS
  .nav-menu {
    height: 1440px;
  }*/
  
  #referencias #parte-cima {
    position: relative;
  }
  
  #referencias #parte-baixo {
    position: absolute;
    top: 469px;
    width: 98.4%;
  }
  
  .tecnologias-item.html-referencias {
    z-index: 7;
  }
  
  .tecnologias-item.server-side-referencias {
    margin-top: 248px;
  }
}

@media screen and (max-width: 889px) { /* Parte dos Exercícios */
  #exercicios .tecnologias {
    display: block;
  }
  
  #exercicios #parte-cima, #exercicios #parte-baixo {
    width: 100%;
  }
  /* Isto está no JS
  .nav-menu {
    height: 1440px;
  }*/
}

@media screen and (max-width: 785px) {
  #fechar {
    top: -75px;
    background-color: var(--c1);
    padding: 7px 30px;
  }
}

@media screen and (max-width: 640px) {
  #parte-cima, #parte-baixo {
    display: initial;
  }
  
  .tecnologias-item {
    width: 100%;
  }
  
  #tutoriais #parte-cima, #referencias #parte-cima {
    position: initial;
  }
  
  #tutoriais #parte-baixo, #referencias #parte-baixo {
    position: initial;
    width: 100%;
  }
  
  .tecnologias-item.analise-dados-tutoriais, .tecnologias-item.server-side-referencias {
    margin-top: 0;
  }
  /* Isto está no JS
  .nav-menu {
    height: calc(600px * 3);
  }*/
}